@model NewsTrackingSite.Models.ViewModels.NNewsDetails

@{
    ViewBag.Title = "HaberDetay";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>HaberDetay</h2>

@Html.DisplayFor(model => model.Title)