<!-- Search -->
<div class="sidebar-widget">
    <form class="search-form">
        <button type="submit" value="" name="submit" class="search-button"><i class="fa fa-search"></i></button>
        <input class="search-line" name="search" type="text" placeholder="@NewsTrackingSite.Resource.lang.Arama">
    </form>
</div>
